<%- include('header_home') -%>

<div class="container">



    <div class="container1" id="main">

        <h1 id="heading">CelestiQ</h1>
        
       
        <p class="display-3 para">Welcome to <em id="celestiQ">CelestiQ</em> </p>
        
        
    </div>

    <div class="container2">

        <p class="para2">Get Started</p>

        <div class="buttons">

            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

        </div>
    
    
        
        <div class="footer">
            <P id="terms">All rights reserved</P>
        </div>
    </div>
</div>

